<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add product</title>
</head>
<body>
<h1>Add new product</h1>
<form th:action="@{/save}" th:object="${product}" method="post">
    <div>
        <label>Name:</label>
        <input type="text" th:field="*{name}">
    </div>

    <div>
        <label>Order:</label>
        <input type="number" th:field="*{pro_order}">
    </div>
    <div>
        <label>Active:</label>
        <input type="checkbox" th:field="*{is_active}">
    </div>
    <button type="submit">Submit</button>
</form>
<a th:href="@{/products}">Back</a>
</body>
</html>